<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
# Add Security Headers
<IfModule mod_headers.c>
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-XSS-Protection "1; mode=block"
    Header always set X-Content-Type-Options "nosniff"
    Header always set Referrer-Policy "strict-origin-when-cross-origin"
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    # Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'"
</IfModule>

# Disable insecure HTTPS methods
<LimitExcept GET POST>
    Deny from all
</LimitExcept>

# Disable Email Harvesting
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} (EmailCollector|SpamBot|Harvest) [NC]
RewriteRule .* - [F,L]

# Disable Directory Browsing
<FilesMatch "(\.env|\.log|composer\.json|composer\.lock|artisan|server\.php|package.*\.json|phpunit.*\.xml|node_modules|storage|installed\.json)">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Fix Backend Technology Disclosure
Header unset X-Powered-By