.page_head {
  float: left;
  width: 100%;
  color: #234152;
  font: 28px ;
  margin: 15px 0 5px
}
.con_display {
  width: 100%;
  border-top: 3px solid #234152;
  padding-top: 25px
}
.con_left,
.con_left ul,
.con_left ul li,
.con_right {
  width: 100%;
  float: left
}

.con_left ul li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 70px
}
.con_box {
  float: left;
  position: relative;
  padding-left: 75px
}

.breadcum_link ul li:before,
.con_call:before,
.con_loc:before,
.con_mail:before,
.con_whatsapp:before,
.con_metro:before,
.conta_mail a:before,
.cour_det_tb ul li:before,
.cour_det_tb ul ul li:before,
.cu_revi ul li:before,
.dwn_2 a:before,
.dwn_3:before,
.lear_mtd_fea ul li:before,
.live_chat_icon:before,
.passout:before,
.rev_cmt:before,
.sr_ct:before,
.srch_op_blk:before,
.srch_op_vieal a:before,
.st_1tb ul li:before,
.training-tp:before {
  content: ''
}
.add_head,
.are_rad_txt,
.awards_title,
.box_tpd_txt,
.btab ul li a,
.cisco-cnt .plcmt-text,
.cisco-cnt ul li:nth-child(1),
.cisco-cnt ul li:nth-child(2),
.cisco-cnt ul li:nth-child(3),
.cli_lig_head,
.cli_ovr,
.combo_heading,
.dis_stu_desa span,
.font_55_white,
.gain_ged,
.info_frm_gra,
.info_gra_nt,
.ingphun_2,
.ingphun_3,
.jb-ccie-intg h2,
.jb-ccie-sec h2,
.main_hd_2,
.main_hd_jb,
.midfromhead26,
.mnew_blktb1,
.mnew_blktb2,
.mvthun3,
.place_std_nm .nm,
.soc_lt_sing_text,
.span_rw_1,
.sub_btn,
.tb_cls_tctp,
.thnk_dwn a,
.totl_rev_new,
.tp3lt,
.tp3rt,
h2.accordion {
  text-transform: uppercase
}
.add_head {
  color: #3c596b;
  font: 16px 
}
.add_det,
.add_det a,
.map_direc {
  font: 15px 
}

.add_det,
.add_det a,
.add_det a:hover {
  color: #18ba60
}

.con_call:before,
.con_loc:before,
.con_mail:before,
.con_whatsapp:before,
.con_metro:before {
  height: 70px;
  position: absolute;
  top: 0;
  left: 8px
}
.con_metro:before {
  width: 59px;
}
ul {
  padding-left: 0;
  list-style: none
}
.con_whatsapp:before {
  width: 50px;
}

.con_call:before {
  width: 59px;
}

.con_mail:before {
  width: 55px;
}
.combo_block,.con_form {
  float: right;
  width: 100%
}

.combo_block,
.combo_more a,
.con_form_place,
.map_direc {
  border-radius: 5px
}
.con_form_place {
  float: left;
  width: 100%;
  background: #15416e;
  padding: 20px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px
}

.con_form_place h3 {
  font: 24px ;
  color: #fff;
  margin: 0;
  padding: 0
}


.form_fileds {
  float: left;
  width: 100%;
  margin-top: 10px
}

.form_fileds ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0
}

.form_fileds ul li {
  float: left;
  margin-bottom: 15px;
  width: 100%
}

.form_fileds ul li input[type=number],
.form_fileds ul li input[type=text],
.form_fileds ul li select,
.form_fileds ul li textarea {
  width: 100%;
  color: #676767;
  font: 14px 'Open Sans', Arial, sans-serif;
  padding: 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 0
}

.chat_opblk,
.click_here a,
.con_sub {
  color: #fff
}

.form_fileds ul li select {
  line-height: 42px;
  height: 40px
}

.mhmhm_frm_fld,
.mhmhm_frm_fld ul {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0
}

.mhmhm_frm_fld ul li {
  float: left;
  width: 98%;
  margin-bottom: 20px;
  position: relative
}

.mhmhm_frm_fld ul li.wid_half {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left
}

.btm_new_frm input,
.btm_new_frm select,
.btm_new_frm textarea {
  border: none;
  border-bottom: 1px solid #fff;
  color: #000;
  box-shadow: none;
  border-radius: 0;
  min-height: 34px
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

input,
textarea {
  border: 0;
  outline: 0
}

button,
select {
  text-transform: none
}

select[multiple],
select[size] {
  height: auto
}

.mh_num_place {
  position: absolute;
  right: 0;
  width: 49%
}

.cou_dt_cnnu .mh_num_place {
  width: 100% !important;
  left: 0 !important;
  position: inherit !important
}

.banner_country {
  width: 49% !important;
  float: left;
  line-height: 35px !important;
  text-indent: 30px;
  padding: 0 !important
}

.hm_num {
  float: left
}

.hm_num #countryCode {
  position: absolute !important;
  top: 13px !important;
  left: 8px !important;
  color: #7f7f7f
}

.hmm_nmnm {
  width: 100%;
  height: 41px !important
}

.error {
  color: red;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: -17px;
  z-index: 9999999
}

.error_msg {
  color: #5f5f5f;
  font: 33px ;
  margin-top: 10px
}

.eboko_frm .error {
  display: block;
  float: initial
}

.chat_opblk,
.click_here a,
.con_sub {
  color: #fff
}
.chat_option,
.con_sub,
.con_top_sec {
  width: 100%;
  float: left
}
.con_sub {
  padding: 11px;
  background: url(../images/pointer.png) 90% 10px no-repeat #18ba60;
  font: 24px ;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer
}

.con_sub:hover {
  background-color: #218838
}


.short {
  min-height: 63px;
}

.coun_flag_form {
  position: absolute;
  height: 20px;
  width: 30px;
  top: 9px;
  left: 2px;
  display: none;
  border: #000 1px solid;
}

.banner_phone {
  text-indent: 35px;
}

.form-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.line {
  width: 40px;
  background-color: #15416e;
  height: 100%;
  position: absolute;
}

.line.left1 {
  left: -200px;
}
.line.right1 {
  right: -200px;
}

.line.left2 {
  left: -100px;
  background-color: #18ba60;
}
.line.right2 {
  right: -100px;
  background-color: #18ba60
}

.line.left3 {
  width: 10px;
  left: -50px;
  background-color: #18ba60;
}
.line.right3 {
  width: 10px;
  right: -50px;
  background-color: #18ba60
}

.line.left4 {
  width: 10px;
  left: -150px;
}
.line.right4 {
  width: 10px;
  right: -150px;
}