.scrollable-element {
    scrollbar-width: thin;
    }
    .dropdown-submenu a::after {
    transform: rotate(-90deg);
    right: 3px;
    top: 40%;
    }
    .droparrow-toggle::after {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 0.255em;
    vertical-align: .255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0px;
    border-left: .3em solid transparent;
    margin-top: 10px;
    }
    .dropdown-submenu {
    padding-bottom: 5px !important;
    margin-top: -10px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
    .dropdown-submenu1 {padding-left: 0px !important;padding-right: 0px !important;padding-bottom: 5px !important;margin-top: -10px !important;}
    #bootstrap-edits .add-to-dropdown-div{
    min-height: 100%;
    }
    #bootstrap-edits .add-to-dropdown-div1{
    min-height: 100%;
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    }
    .navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    }
    .navbar-expand-sm .navbar-toggler {
    display: none;
    }
    .navbar-expand-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin-left: -70px;
    padding-top: 4px;
    margin-right: -20px;
    }
    .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    }
    .navbar-expand-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    }
    .dropdown, .dropup {
    position: relative;
    }
    .navbar-nav {
    list-style: none;
    }
    .navbar-light .navbar-nav .nav-link {
    color: #fff;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 18px;
    list-style: none;
    }
    .nav-link {padding: 7px 20px !important;margin-left: 0px !important;}
    .dropdown-toggle::after {display: inline-block;width: 0;height: 0;margin-left: .255em;content: "";border-top: .3em solid;border-right: .3em solid transparent;border-bottom: 0;border-left: .3em solid transparent;}
    .dropdown-menu {
    min-height: 500px;
    min-width: 250px;
    }
    .menutraining {
    width: 300px;
    background-color:#000;
    height: 450px;





    }
    #bootstrap-edits .add-to-dropdown-div {/* min-height: 83%; *//* width: 250px !important; *//* position: absolute; */left: 100%;border-radius: 0px;border-style: none;background-color: #f6f8f9;line-height: 1.5;box-shadow: none;margin-top: 0;}
    .codec_bg{
        background: #e6e8ed !important;
    }
    #bootstrap-edits .add-to-dropdown-div1 {
    /* min-height: 83%; */
    width: 400px !important;
    /* position: absolute; */
    left: 100%;
    border-radius: 0px;
    border-style: none;
    background-color: #f6f8f9;
    line-height: 1.5;
    box-shadow: none;
    margin-top: 0;
    }
    .ulliststyle{width: 400px;padding: 0px;}
    .ulliststyle1 {
    width: 100%;
    padding-left: 0px;
    left: 0;
    }
    .ulliststyle1 a:hover{
    color:#228bf7;



    }
    .dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu {
    display: block;
    margin-top: -1px;
    margin-left: -1px;
    top: 0px;
    left: 100%;
    min-height: 100%;
    }
    .dropdown-submenu1:hover .dropdown-menu1, .dropdown-submenu1:focus .dropdown-menu1 {display: block;margin-top: -1px;margin-left: 0;top: 0px;left: 100%;min-height: 100%;}
    .dropdown-item {
    display: block;
    width: 100%;
    padding: 5px 1px 5px 10px !important;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: normal;
    background-color: transparent;
    border-bottom: 1px solid #bdb9b9;
    }
    /*
    .dropdown-item:focus, .dropdown-item:hover {
    color: #15416e;
    text-decoration: none;
    background-color: #fff;

    }
    */
    .uldropdown li:hover > a{

    background-color:#fff;
    }
    .uldropdown1 li:hover > a{

    color:#228bf7;
    }
    .nav-link:focus, .nav-link:hover {
    text-decoration: none;
    }
    .dropdown-submenu a:hover,  {
    outline: 0;
    background-color: #fff !important;
    }
    .dropdown-submenu1 a:hover,  {
    outline: 0;
    background-color: #fff !important;
    }
    .uldropdown {
    font-size: 14px;
    text-align: left;
    list-style: none;
    /* border-right: 1px solid #000; */
    width: 400px !important;
    padding: 0px;
    /* overflow-y: scroll; */
    margin-top: -4px;
    height: 500px;
    /* padding-left: -13px; */
    margin-left: 0px !important;
    background-color: #e6ecef;
    /* padding-left: 6px; */
    }
    .uldropdown1 {font-size: 14px;text-align: left;list-style: none;/* border-right: 1px solid #000; */width: 400px !important;padding: 10px 0px;overflow-y: auto;margin-top: 0;height: 500px;/* padding-left: -13px; */margin-left: 0px !important;/* padding-left: 6px; */background: #e6e8ed !important;}
    .dropdown-menu {
    /* position: absolute; */
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0;
    margin: 0px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: none;
    }
    .dropdown-menu1 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 400px;
    padding: 0px 0;
    margin: 0px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: none;
    }
    .ulsublistothercol{
    width:350px ;

    }
    .ulsublistothercol1{
    width:280px ;

    }
    .menudivide{
    width:750px;
    }
    .menudivide1 {width: 100%;margin-top: 0;background: #E6ECEF;padding: 0px;margin: 0px;}
    .uldropdown > li > a {
    display: block;
    padding: 0px 0px 11px 15px !important;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143 !important;
    color: #333;
    white-space: normal;
    padding-top: 10px !important;
    border-bottom: 1px solid #bdb9b9;
    }
    .uldropdown1 > li > a {
    display: block;
    padding: 8px 0px 7px 20px !important;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143 !important;
    color: #333;
    white-space: normal;
    /* padding-top: 12px !important; */
    border-bottom: 1px solid #bdb9b9;

    }
    @media (min-width: 320px) and (max-width: 480px){


    .uldropdown > li > a {
    display: block;
    padding: 5px 19px 5px 20px !important;
    clear: both;
    font-weight: 400;
    line-height: 1.2 !important;
    color: #333;
    white-space: normal;
    /* padding-top: 4px !important; */
    border-bottom: 1px solid #cdcccc;
    }
    .uldropdown {
    font-size: 14px;
    text-align: left;
    list-style: none;
    /* border-right: 1px solid #000; */
    width: 290px !important;
    padding: 0px;
    overflow-y: scroll !important;
    margin-top: -4px;
    height: auto !important;
    /* padding-left: -13px; */
    margin-left: 0px !important;
    background-color: #e6ecef;
    /* padding-left: 6px; */
    }
    .dropdown-submenu {
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    }
    .dropdown-item {
    display: block;
    width: 95%;
    padding: 5px 5px 5px 0px !important;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: normal;
    /* background-color: transparent; */
    border-bottom: 1px solid #bdb9b9;
    line-height: 1.2;
    }
    .nav-link {
    padding: 12px 26px 8px 16px !important;
    margin: 0px !important;
    }
    .droparrow-toggle::after {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 0.255em;
    vertical-align: .255em;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    margin-top: -9px;
    }
    .ulliststyle {
    width: 280px;
    padding-left: 40px;
    margin-top: -10px;
    }
    .ulliststyle1 {
    width: 310px;
    padding-left: 40px;
    margin-top: 0px;
    }
    .ulsublistothercol {
    width: 280px;
    padding-left: 40px;
    margin-top: -10px;
    }
    .secondcoldivide{
    margin-top:3px;
    }
    .dropdown-submenu a::after {
    transform: rotate(0deg);
    right: 3px;
    top: 40%;
    }

    }
    .img_header img {height: 200px;width: 250px;position: absolute;top: 150px;right: 0px;left: 0px;text-align: center;display: block;margin: auto;}
    .navbarnew{
    background-color: #15416e;
    color: #fff;
    border-color: #15416e;
    border-radius: 5px;

    }
    .toplevelcontact{
    margin-left: 138px;
    }
    /* width */
    .uldropdown1::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    .uldropdown1::-webkit-scrollbar-track {
      background: #15416e;
    }

    /* Handle */
    .uldropdown1::-webkit-scrollbar-thumb {
      background: #f4f4f4;
    }
    .case2-header .navbar-fixed-top .site-brand img {
        width: 200px;
    }
    .case2-header .navbar-fixed-top .site-brand {
        top: 10px;
    }
    .case2-header .navbar-fixed-top .site-main-navigation > ul > li > .navigation-dropdown, .case2-header .navbar-fixed-top .site-main-navigation > ul > li.open > .navigation-dropdown {
        left: -300px;
        width: 1200px;
        top: 40px;
    }
    .case2-header .navbar-fixed-top .site-main-navigation > ul > li > a, .case2-header .navbar-fixed-top .site-main-navigation > ul > li.open > a {
        display: block;
        height: 55px;
        padding: 0 7px;
        color: #fff;
        border-bottom: 20px solid transparent;
        text-decoration: none;
        -webkit-transition: all 0s linear 0s;
        -o-transition: all 0s linear 0s;
        transition: all 0s linear 0s;
        padding-top: 17px;
        border-radius: 5px;
        background: transparent;
    }
    .case2-header .navbar-fixed-top{
        height: 55px;
    }
    .case2-header .navbar-fixed-top .site-main-navigation {
        top: 6px;
    }
    .case2-header .code-content-cd .code-div-box{
        padding: 70px 15px 40px !important;
    }
    .droparrow-toggle:hover{
        background: transparent !important;
    }
    /**/
    @media only screen and (max-width:768px) {
        .menudivide{
        width: 100%;
    }
    }