.elementor-941 .elementor-element.elementor-element-4781f56 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}
.elementor-941 .elementor-element.elementor-element-2e45cf5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}
.elementor-941 .elementor-element.elementor-element-53afb08 {
    --display: flex;
}
.elementor-widget-theme-site-logo .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-941 .elementor-element.elementor-element-a379f19 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}
.elementor-941 .elementor-element.elementor-element-4bf5f38 {
    --display: flex;
}
.elementor-widget-heading .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    color: var(--e-global-color-primary);
}
.elementor-941
    .elementor-element.elementor-element-1440d92
    .elementor-heading-title {
    font-family: "IBM Plex Mono", Sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: var(--e-global-color-9602274);
}
.elementor-widget-text-editor {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
    .elementor-drop-cap {
    background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
    .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
    .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}
.elementor-941 .elementor-element.elementor-element-9eda2f8 {
    font-family: "IBM Plex Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--e-global-color-9602274);
}
.elementor-941 .elementor-element.elementor-element-81b2da1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}
.elementor-941 .elementor-element.elementor-element-a4a4a9f {
    --display: flex;
}
.elementor-941
    .elementor-element.elementor-element-d0d3b28
    .elementor-heading-title {
    font-family: "IBM Plex Mono", Sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: var(--e-global-color-9602274);
}
.elementor-941 .elementor-element.elementor-element-193ed97 {
    font-family: "IBM Plex Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--e-global-color-9602274);
}
.elementor-941 .elementor-element.elementor-element-42decec {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}
.elementor-941 .elementor-element.elementor-element-5858fa7 {
    --display: flex;
}
.elementor-941
    .elementor-element.elementor-element-e626523
    .elementor-heading-title {
    font-family: "IBM Plex Mono", Sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: var(--e-global-color-9602274);
}
.elementor-941 .elementor-element.elementor-element-d545850 {
    font-family: "IBM Plex Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--e-global-color-9602274);
}
.elementor-941 .elementor-element.elementor-element-51659d8 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
}
.elementor-941 .elementor-element.elementor-element-896c0a4.elementor-element {
    --order: -99999 /* order start hack */;
    --flex-grow: 1;
    --flex-shrink: 0;
}
.elementor-941 .elementor-element.elementor-element-896c0a4 {
    text-align: center;
    font-family: "IBM Plex Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--e-global-color-9602274);
}
.elementor-theme-builder-content-area {
    height: 400px;
}
.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}
@media (min-width: 768px) {
    .elementor-941 .elementor-element.elementor-element-4781f56 {
        --content-width: 1520px;
    }
    .elementor-941 .elementor-element.elementor-element-2e45cf5 {
        --width: 25%;
    }
    .elementor-941 .elementor-element.elementor-element-a379f19 {
        --width: 25%;
    }
    .elementor-941 .elementor-element.elementor-element-81b2da1 {
        --width: 25%;
    }
    .elementor-941 .elementor-element.elementor-element-42decec {
        --width: 25%;
    }
}
@media (max-width: 1100px) {
    .elementor-widget-theme-site-logo .widget-image-caption {
        font-size: var(--e-global-typography-text-font-size);
    }
    .elementor-widget-heading .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
    }
    .elementor-widget-text-editor {
        font-size: var(--e-global-typography-text-font-size);
    }
}
@media (max-width: 767px) {
    .elementor-widget-theme-site-logo .widget-image-caption {
        font-size: var(--e-global-typography-text-font-size);
    }
    .elementor-widget-heading .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
    }
    .elementor-widget-text-editor {
        font-size: var(--e-global-typography-text-font-size);
    }
}
