 @import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
p{ font-family: 'Helvetica Neue';
        font-weight: 400;}
a, h1, h2, h3, h4, h5, h6{font-family: 'Helvetica Neue';}  

.smpl6-breadkum-ul{
    padding: 0px;
    margin: 0px;
}
.smpl6-breadkum-ul ul{
    padding: 0px;
}
.smpl6-breadkum-ul ul li{
    display: inline-block;
    padding: 0px 15px 0px 0px;
}
.smpl6-breadkum-ul ul li a{
    position: relative;
    color: #2d2d2d;
    font-size: 18px;
    /*font-family: 'Helvetica 55 Roman', sans-serif;*/
    font-weight: 600;
  

}
.smpl6-breadkum-ul ul li a:before{
    content: '';
    background-image: url(../images/chevron-dark.png);
    width: 9px;
    height: 6px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-90deg);
    fill: #000;
    stroke-width: 1;
    position: absolute;
    right: -16px;
    top: 6px;
}
.smpl6-breadkum{
    padding: 12px 0px;
}
.smpl6-breadkum-ul ul li a:before:last-child{
    display: none;
}
.sample-space{
    padding: 50px 0px;
}
.sample-sec1-box{}
.sample-sec1-box h2{
    font-size: 3rem;
    line-height: 1.5em; 
   font-weight: 900;
}
.sample-sec1-box p{
    font-size: 20px;
    padding: 15px 0px;
    line-height: 32px;  
}
.sample-sec1-box a{
    background: transparent;
    border: 1px solid #7d7d7d;
    color: #2d2d2d;
    padding: 14px 23px;
    font-size: 18px;
   font-weight: 400;
}
.sample-sec2-box p{
     font-size: 20px;
     padding-bottom: 20px;
     line-height: 36px;       
}
.sample-sec2{
    background: #f2f2f2;
    padding-bottom: 30px;
}
.sample-sec3{    background: #202020;}
.sample-sec3-box{
    border-left: 1px solid #d04a02;
    padding: 0px 100px 0px 20px;

}
.sample-sec3-box p{
    color: #fff;
    font-size: 22px;
    line-height: 42px;
    padding-bottom: 20px;    
}
.sampl-col1{
    display: block;
    color: #fff;
    font-size: 20px;
}
.sampl-col2{
    color: #fff;
    font-size: 19px;
}
.saple-footer{
    padding-left: 20px;
    padding-top: 25px;
}
.saple-footer p a{
    color: #fff;
    font-size: 22px;
    text-decoration: underline;    
}
.smpl6-bg{
    background-image: url(../images/sample6-bg.jpeg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.smpl6-bg-content{
    position: absolute;
    background: #2D2D2D;
    bottom: 0px;
    max-width: 1000px;
    padding: 50px;
}
.smpl6-bg-content h1{
    color: #fff;
    font-size: 40px;   
   font-weight: 700;
}
.smple-box2{}
.smple-box2 p{    
    font-size: 22px;
    line-height: 42px;
    padding-bottom: 20px;    
}
.sample-sec4{
    background: #F2F2F2;
}
.smple-box1{}
.smple-box1 h3{} 
.smple-box1 ul{
    padding: 13px 0px 0px;
}
.smple-box1 ul li{
    list-style: none;
    display: flex;
}
.smpl_col1{
    width: 12%;
}
.smpl_col1 img{
    width: 45px;
}
.smpl_col2{
    width: 100%;
}
.smpl_col2 p{
        font-size: 19px;
        line-height: 32px;
        padding-bottom: 10px;     
}
.sample-sec5{
    background: #f4f4f4;
}
.smpl5-title{}
.smpl5-title h2{
   
}
.smpl5-box{
    padding-right: 20px; 
}
.smpl5-box h3:before{
    content:'';
    width: 100px;
    background: #408BD1;
    height: 3px;
    position: absolute;
}
.smpl5-box h3{
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 10px;     
        font-weight: 500;
        }
.smpl5-box h3 a{
    color: #333;
    padding-top: 7px;
    display: block;
}
.smpl5-box h3 a:hover{
     color: #408BD1;
     text-decoration: underline;
}
.smpl5-box p{
    font-size: 19px;
        line-height: 28px;
        padding-bottom: 10px;
       
}
.sample-sec6{}
.sample-sec6-box p{
    font-size: 30px;
    line-height: 42px;
    padding-bottom: 36px;
}
.sample-sec6-box span a{
    font-size: 22px;
    color: #333;
    text-decoration: underline;
    font-weight: 500;
}
.sample-sec6-img img{
    width: 100%;
}
.smpl6-body .container{width: 100%;padding: 0px 25px;}
.sample-sec6-box{
    padding-right: 150px; 
    padding-top: 20px;
}
.smpl7-box{
    max-width: 700px;
    margin: auto;
}
.vidoe-sec{
    padding-bottom: 20px;
}
.vidoe-sec iframe{
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
}
.smpl7-box p{
    font-size: 19px;
    line-height: 32px;
    padding-bottom: 20px;
}
.smpl7-box ul{
    padding: 0px;
}
.smpl7-box ul li{font-family: 'Helvetica Neue';font-size: 19px;line-height: 32px;padding-bottom: 16px;}
.smpl7-box h3{
    font-size: 34px;
    padding-bottom: 15px;
}
